@font-face {
    font-family: 'Aclonica';
    src: url('../fonts/Aclonica-Regular.woff') format('woff'),
         url('../fonts/Aclonica-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aldrich';
    src: url('../fonts/Aldrich-Regular.woff') format('woff'),
         url('../fonts/Aldrich-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DS-Digital';
    src: url('../fonts/DS-Digital.woff') format('woff'),
         url('../fonts/DS-Digital.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster-Regular.woff') format('woff'),
         url('../fonts/Lobster-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Play';
    src: url('../fonts/Play-Bold.woff') format('woff'),
         url('../fonts/Play-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #d8c291;
    background-image: url('../img/desk-texture.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#project-title {
    font-family: 'Lobster';
    font-size: 4.65vh;
    color: rgb(140, 75, 115);
    margin-bottom: 2vh;
    transform: scaleX(1.05);
}

#calculator {
    width: 48vh;
    height: 75vh;
    background-image: linear-gradient(#3d3d4b, #272731);
    border-radius: 2vh;
    margin: auto;
    box-shadow: inset 0.7vh 0.7vh 0.25vh rgba(0, 0, 0, 0.2), inset -0.7vh -0.7vh 0.25vh rgba(0, 0, 0, 0.2);
    border: 0.35vh outset rgba(39, 39, 49, 0.25);
}

#display-container {
    width: 85%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
}

#brand-name {
    color: white;
    font-family: 'Aclonica';
    font-size: 3vh;
    letter-spacing: 2px;
    padding-top: 10%;
    transform: scaleY(0.9) scaleX(1.05);
}

#display-frame {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(80deg, #ffffff, #cfcfcf);
    border-radius: 1vh;
    margin-bottom: 6%;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 0.5vh 0, rgba(0, 0, 0, 0.8) 0 0 0.5vh 0;
}

#display-screen {
    width: 85%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #9aa76d;
    border: 1px solid gray;
    font-family: 'DS-Digital';
    font-size: 9vh;
    padding: 2%;
    margin-top: 5%;
    overflow: hidden;
    box-shadow: inset 0 0 0.7vh rgba(39, 39, 49, 0.5);
}

#buttons-container {
    width: 85%;
    height: 60%;
    margin: auto;
}

#buttons {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4%;
}

.span-two {
    grid-column: span 2;
}

button {
    border: 0.35vh outset rgba(255, 255, 255, 0.23);
    border-radius: 0.5vh;
    cursor: pointer;
    color: white;
    background-color: #8d8d8d;
    font-family: 'Aldrich';
    font-size: 3.25vh;
    outline: none;
    box-shadow: 0 0 0.85vh rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #a7a7a7;
    border: 0.35vh solid rgba(255, 255, 255, 0.5);
}

#all-clear {
    background-color: #e24848;
}

#all-clear:hover {
    background-color: #fd5252;
}

#delete {
    background-color: #48a8e4;
}

#delete:hover {
    background-color: #5bc0ff;
}

#equals {
    background-color: #e26429;
}

#equals:hover {
    background-color: #ff7332;
}

#footer-text {
    font-family: 'Play';
    font-size: 2.5vh;
    color: rgba(130, 95, 80, 0.9);
    margin-top: 2vh;
    transform: scaleY(1.1);
}

.external-text {
    display: flex;
    justify-content: center;
}

#github-link a {
    color: inherit;
}

#github-link a:hover {
    text-decoration-color: red;
}

@media screen and (max-width: 500px) {
    #project-title {
        font-size: 8.5vw;
        margin-bottom: 4vw;
    }    

    #calculator {
        width: 86vw;
        height: 134vw;
        border-radius: 3.5vw;
        box-shadow: inset 1.1vw 1.1vw 0.6vw rgba(0, 0, 0, 0.2), inset -1.1vw -1.1vw 0.6vw rgba(0, 0, 0, 0.2);
    }

    #brand-name {
        font-size: 5.3vw;
    }

    #display-frame {
        border-radius: 2vw;        
    }

    #display-screen {
        font-size: 16vw;
        box-shadow: inset 0 0 1vw rgba(0, 0, 0, 0.5);
    }

    button {
        border-radius: 1vw;
        font-size: 5.75vw;
        box-shadow: 0 0 1.25vw rgba(0, 0, 0, 0.5);
    }

    #footer-text {
        font-size: 5vw;
        margin-top: 4vw;
    }
}